<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<strong>Afarezes:</strong>
<% @todos.each do |todo| %>
  <%= todo.name %> - <%= todo.completed_at %><br>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
